#ifndef WIFI_OPERATOR_H
#define WIFI_OPERATOR_H

#define WIFI_OPERATOR_SSID "CoolAccessPointName"
#define WIFI_OPERATOR_PASSWORD "TheBestPasswordEver"

void init_wifi_operator(void);

#endif // WIFI_OPERATOR_H